## Duplication Typecasting

Q1. For the given dataset perform the type casting (convert the datatypes, ex. float to int)  
Q2. Check for the duplicate values, and handle the duplicate values (ex. drop)  
Q3. Do the data analysis (EDA)? Such as histogram, boxplot, scatterplot etc

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline
import seaborn as sns
import numpy as np

In [2]:
sns.set()

In [3]:
retail = pd.read_csv('OnlineRetail.csv',encoding='unicode_escape')

In [4]:
retail.sample(5)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
463707,576070,23154,SET OF 4 JAM JAR MAGNETS,6,11/13/2011 15:58,2.08,13451.0,United Kingdom
427279,573381,23280,FOLDING BUTTERFLY MIRROR HOT PINK,4,10/30/2011 14:05,0.83,17590.0,United Kingdom
361428,568346,22651,GENTLEMAN SHIRT REPAIR KIT,1,9/26/2011 15:28,1.63,14096.0,United Kingdom
16102,537643,84970s,HANGING HEART ZINC T-LIGHT HOLDER,4,12/7/2010 15:34,2.13,NaN,United Kingdom
90102,543985,21888,BINGO SET,1,2/15/2011 9:44,7.46,NaN,United Kingdom

In [5]:
retail.shape

(541909, 8)

### Typcast

In [6]:
retail.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

In [7]:
retail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [8]:
#convert float to int
retail.UnitPrice = retail.UnitPrice.astype('int64')

In [9]:
retail.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice        int64
CustomerID     float64
Country         object
dtype: object

### Remove duplicates

In [10]:
retail.duplicated().sum()

5284

In [11]:
#display duplicated records
retail[retail.duplicated()]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
517,536409,21866,UNION JACK FLAG LUGGAGE TAG,1,12/1/2010 11:45,1,17908.0,United Kingdom
527,536409,22866,HAND WARMER SCOTTY DOG DESIGN,1,12/1/2010 11:45,2,17908.0,United Kingdom
537,536409,22900,SET 2 TEA TOWELS I LOVE LONDON,1,12/1/2010 11:45,2,17908.0,United Kingdom
539,536409,22111,SCOTTIE DOG HOT WATER BOTTLE,1,12/1/2010 11:45,4,17908.0,United Kingdom
555,536412,22327,ROUND SNACK BOXES SET OF 4 SKULLS,1,12/1/2010 11:49,2,17920.0,United Kingdom
...,...,...,...,...,...,...,...,...
541675,581538,22068,BLACK PIRATE TREASURE CHEST,1,12/9/2011 11:34,0,14446.0,United Kingdom
541689,581538,23318,BOX OF 6 MINI VINTAGE CRACKERS,1,12/9/2011 11:34,2,14446.0,United Kingdom
541692,581538,22992,REVOLVER WOODEN RULER,1,12/9/2011 11:34,1,14446.0,United Kingdom
541699,581538,22694,WICKER STAR,1,12/9/2011 11:34,2,14446.0,United Kingdom
541701,581538,23343,JUMBO BAG VINTAGE CHRISTMAS,1,12/9/2011 11:34,2,14446.0,United Kingdom

In [12]:
retail.shape

(541909, 8)

In [13]:
#remove duplicates
retail.drop_duplicates(keep='first',inplace= True)

In [14]:
retail.shape

(536625, 8)

In [15]:
#cross verify if any duplicates remain
retail.duplicated().any()

False

### Exploratory Data Analysis

In [16]:
# unique invoices
retail.InvoiceNo.nunique()

25900

In [17]:
# unique customers
retail.CustomerID.nunique()

4372

In [18]:
# unique country
retail.Country.nunique()

38

In [19]:
retail.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135030
Country             0
dtype: int64

In [20]:
retail['CustomerID'].isnull()

0         False
1         False
2         False
3         False
4         False
          ...
541904    False
541905    False
541906    False
541907    False
541908    False
Name: CustomerID, Length: 536625, dtype: bool

In [21]:
#drop rows where customerid is null
retail.drop(retail[retail['CustomerID'].isnull()].index , inplace=True)

In [22]:
retail.isnull().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [23]:
retail.shape

(401595, 8)

In [24]:
#group customers  by  country
retail.groupby( [ "Country"] ).count()['CustomerID'].sort_values(ascending=False)

Country
United Kingdom          356719
Germany                   9480
France                    8475
EIRE                      7475
Spain                     2528
Netherlands               2371
Belgium                   2069
Switzerland               1877
Portugal                  1471
Australia                 1258
Norway                    1086
Italy                      803
Channel Islands            757
Finland                    695
Cyprus                     611
Sweden                     461
Austria                    401
Denmark                    389
Japan                      358
Poland                     341
USA                        291
Israel                     247
Unspecified                241
Singapore                  229
Iceland                    182
Canada                     151
Greece                     146
Malta                      127
United Arab Emirates        68
European Community          61
RSA                         58
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              30
Bahrain                     17
Saudi Arabia                10
Name: CustomerID, dtype: int64

In [ ]:
retail.groupby( ["StockCode"] ).count()['StockCode'].sort_values(ascending=False)

#### Distributions

In [ ]:
#display distributions for float data
#sns.kdeplot(data=retail,x='UnitPrice',fill=True,color="navy")
sns.displot(data=retail, x="UnitPrice")

#### BoxPlot

In [ ]:
#View outliers for non Gaussian distributions
plt.figure(figsize=(10,10))
sns.set_style("dark")
sns.boxplot(data=retail, orient="h", palette = 'flare')