## Zero - Variance Features

Find which columns of the given dataset with zero variance, explore various techniques used to remove the 
zero variance from the dataset to perform certain analysis.

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline
import seaborn as sns
import numpy as np

In [3]:
sns.set()

In [4]:
df = pd.read_csv('Z_dataset.csv')

### EDA

In [5]:
df.sample(5)

      Id  square.length  square.breadth  rec.Length  rec.breadth  colour
143  144            6.8             3.2         5.9          2.3  Orange
131  132            7.9             3.8         6.4          2.0  Orange
47    48            4.6             3.2         1.4          0.2    Blue
108  109            6.7             2.5         5.8          1.8  Orange
58    59            6.6             2.9         4.6          1.3   Green

In [6]:
df.shape

(150, 6)

In [7]:
df.dtypes

Id                  int64
square.length     float64
square.breadth    float64
rec.Length        float64
rec.breadth       float64
colour             object
dtype: object

In [8]:
df.isnull().sum().sum()

0

In [9]:
df.describe().T

                count       mean        std  min    25%    50%     75%    max
Id              150.0  75.500000  43.445368  1.0  38.25  75.50  112.75  150.0
square.length   150.0   5.843333   0.828066  4.3   5.10   5.80    6.40    7.9
square.breadth  150.0   3.057333   0.435866  2.0   2.80   3.00    3.30    4.4
rec.Length      150.0   3.758000   1.765298  1.0   1.60   4.35    5.10    6.9
rec.breadth     150.0   1.199333   0.762238  0.1   0.30   1.30    1.80    2.5

In [10]:
df.var()

C:\Users\AANAND~1.ORA\AppData\Local\Temp/ipykernel_17552/1568254755.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.var()

Id                1887.500000
square.length        0.685694
square.breadth       0.189979
rec.Length           3.116278
rec.breadth          0.581006
dtype: float64

In [11]:
#variance of categorical feature is 0 if unique value is 1
df.colour.nunique()

3

We observe that none of the numeric features and categorical features have zero variance.