## Problem1

Prepare a classification model using the Naive Bayes algorithm for the salary dataset.   
Train and test datasets are given separately. Use both for model building.

In [88]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [89]:
sns.set()

In [90]:
# import Dataset 
#sal_train = pd.read_csv("SalaryData_Train.csv", encoding = 'utf8')
sal_train = pd.read_csv("SalaryData_Train.csv")

In [141]:
sal_test = pd.read_csv("SalaryData_Test.csv")

In [91]:
sal_train.shape

(30161, 14)

In [142]:
sal_test.shape

(15060, 14)

In [92]:
sal_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30161 entries, 0 to 30160
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            30161 non-null  int64
 1   workclass      30161 non-null  object
 2   education      30161 non-null  object
 3   educationno    30161 non-null  int64
 4   maritalstatus  30161 non-null  object
 5   occupation     30161 non-null  object
 6   relationship   30161 non-null  object
 7   race           30161 non-null  object
 8   sex            30161 non-null  object
 9   capitalgain    30161 non-null  int64
 10  capitalloss    30161 non-null  int64
 11  hoursperweek   30161 non-null  int64
 12  native         30161 non-null  object
 13  Salary         30161 non-null  object
dtypes: int64(5), object(9)
memory usage: 3.2+ MB

In [93]:
sal_train.isnull().sum()

age              0
workclass        0
education        0
educationno      0
maritalstatus    0
occupation       0
relationship     0
race             0
sex              0
capitalgain      0
capitalloss      0
hoursperweek     0
native           0
Salary           0
dtype: int64

In [94]:
#check for duplicates
sal_train.duplicated().sum()

3258

In [95]:
#remove duplicates
sal_train.drop_duplicates(keep='first',inplace=True)

In [96]:
#check if any duplicates remain
sal_train.duplicated().any()

False

In [97]:
sal_train.shape

(26903, 14)

In [98]:
sal_train.head(10)

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

In [99]:
#check for zero variance
sal_train.var()

C:\Users\AANAND~1.ORA\AppData\Local\Temp/ipykernel_45980/2321721974.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  sal_train.var()

age             1.739451e+02
educationno     6.865209e+00
capitalgain     6.092374e+07
capitalloss     1.810445e+05
hoursperweek    1.524497e+02
dtype: float64

In [100]:
sal_train['Salary'].unique()

array([' <=50K', ' >50K'], dtype=object)

In [101]:
#Convert Salary to numeric in train
sal_train['Salary']= np.where(sal_train['Salary'].astype(str).str.strip()== '<=50K', 0, 1)

In [143]:
#Convert Salary to numeric in test
sal_test['Salary']= np.where(sal_test['Salary'].astype(str).str.strip()== '<=50K', 0, 1)

In [102]:
sal_train.head(10)

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0
5,37,Private,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,0
6,49,Private,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,0
7,52,Self-emp-not-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,1
8,31,Private,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,1
9,42,Private,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,1

In [144]:
sal_test.head(10)

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,0
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,0
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,1
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,1
4,34,Private,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,0
5,63,Self-emp-not-inc,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,3103,0,32,United-States,1
6,24,Private,Some-college,10,Never-married,Other-service,Unmarried,White,Female,0,0,40,United-States,0
7,55,Private,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,10,United-States,0
8,65,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,6418,0,40,United-States,1
9,36,Federal-gov,Bachelors,13,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,0

In [103]:
sal_train['Salary'].unique()

array([0, 1])

In [104]:
#candidate for one hot encoding
#nominal_features=['workclass']
sal_train['workclass'].unique()

array([' State-gov', ' Self-emp-not-inc', ' Private', ' Federal-gov',
       ' Local-gov', ' Self-emp-inc', ' Without-pay'], dtype=object)

In [131]:
sal_train['workclass'].nunique()

7

In [105]:
#candidate for ordinal encoding
sal_train['education'].unique()

array([' Bachelors', ' HS-grad', ' 11th', ' Masters', ' 9th',
       ' Some-college', ' Assoc-acdm', ' 7th-8th', ' Doctorate',
       ' Assoc-voc', ' Prof-school', ' 5th-6th', ' 10th', ' Preschool',
       ' 12th', ' 1st-4th'], dtype=object)

In [106]:
sal_train['educationno'].unique()

array([13,  9,  7, 14,  5, 10, 12,  4, 16, 11, 15,  3,  6,  1,  8,  2],
      dtype=int64)

In [132]:
sal_train['educationno'].nunique()

16

In [107]:
sal_train[["education", "educationno"]].nunique()

education      16
educationno    16
dtype: int64

In [108]:
sal_train.loc[sal_train["educationno"] == 3, "education"].unique()

array([' 5th-6th'], dtype=object)

In [109]:
#we have 1-1 mapping education & educationno and educationno is ordinally encoded, we can drop education
sal_train[["education", "educationno"]].value_counts()

education      educationno
 HS-grad       9              8268
 Some-college  10             5893
 Bachelors     13             4503
 Masters       14             1558
 Assoc-voc     11             1256
 Assoc-acdm    12              994
 11th          7               941
 10th          6               770
 7th-8th       4               541
 Prof-school   15              532
 9th           5               449
 Doctorate     16              364
 12th          8               358
 5th-6th       3               283
 1st-4th       2               149
 Preschool     1                44
dtype: int64

In [110]:
sal_train.drop(['education'],inplace=True,axis=1)

In [145]:
sal_test.drop(['education'],inplace=True,axis=1)

In [111]:
sal_train

,age,workclass,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
30154,53,Private,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,1
30155,22,Private,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,0
30156,27,Private,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,0
30158,58,Private,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,0
30160,52,Self-emp-inc,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,1

In [146]:
sal_test.shape

(15060, 13)

In [112]:
#candidate for one hot encoding
#nominal_features=['workclass','maritalstatus']
sal_train['maritalstatus'].unique()

array([' Never-married', ' Married-civ-spouse', ' Divorced',
       ' Married-spouse-absent', ' Separated', ' Married-AF-spouse',
       ' Widowed'], dtype=object)

In [113]:
sal_train['maritalstatus'].nunique()

7

In [114]:
#candidate for one hot encoding
#nominal_features=['workclass','maritalstatus','occupation']
sal_train['occupation'].unique()

array([' Adm-clerical', ' Exec-managerial', ' Handlers-cleaners',
       ' Prof-specialty', ' Other-service', ' Sales', ' Transport-moving',
       ' Farming-fishing', ' Machine-op-inspct', ' Tech-support',
       ' Craft-repair', ' Protective-serv', ' Armed-Forces',
       ' Priv-house-serv'], dtype=object)

In [115]:
sal_train['occupation'].nunique()

14

In [116]:
#candidate for one hot encoding
#nominal_features=['workclass','maritalstatus','occupation','relationship']
sal_train['relationship'].unique()

array([' Not-in-family', ' Husband', ' Wife', ' Own-child', ' Unmarried',
       ' Other-relative'], dtype=object)

In [117]:
sal_train['relationship'].nunique()

6

In [118]:
#candidate for one hot encoding
#nominal_features=['workclass','maritalstatus','occupation','relationship','race']
sal_train['race'].unique()

array([' White', ' Black', ' Asian-Pac-Islander', ' Amer-Indian-Eskimo',
       ' Other'], dtype=object)

In [119]:
sal_train['race'].nunique()

5

In [120]:
#candidate for one hot encoding
#nominal_features=['workclass','maritalstatus','occupation','relationship','race','sex']
sal_train['sex'].unique()

array([' Male', ' Female'], dtype=object)

In [121]:
sal_train['sex'].nunique()

2

In [122]:
#candidate for one hot encoding
#nominal_features=['workclass','maritalstatus','occupation','relationship','race','sex','native']
sal_train['native'].unique()

array([' United-States', ' Cuba', ' Jamaica', ' India', ' Mexico',
       ' Puerto-Rico', ' Honduras', ' England', ' Canada', ' Germany',
       ' Iran', ' Philippines', ' Poland', ' Columbia', ' Cambodia',
       ' Thailand', ' Ecuador', ' Laos', ' Taiwan', ' Haiti', ' Portugal',
       ' Dominican-Republic', ' El-Salvador', ' France', ' Guatemala',
       ' Italy', ' China', ' South', ' Japan', ' Yugoslavia', ' Peru',
       ' Outlying-US(Guam-USVI-etc)', ' Scotland', ' Trinadad&Tobago',
       ' Greece', ' Nicaragua', ' Vietnam', ' Hong', ' Ireland',
       ' Hungary'], dtype=object)

In [130]:
sal_train['native'].nunique()

40

In [124]:
sal_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26903 entries, 0 to 30160
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            26903 non-null  int64
 1   workclass      26903 non-null  object
 2   educationno    26903 non-null  int64
 3   maritalstatus  26903 non-null  object
 4   occupation     26903 non-null  object
 5   relationship   26903 non-null  object
 6   race           26903 non-null  object
 7   sex            26903 non-null  object
 8   capitalgain    26903 non-null  int64
 9   capitalloss    26903 non-null  int64
 10  hoursperweek   26903 non-null  int64
 11  native         26903 non-null  object
 12  Salary         26903 non-null  int32
dtypes: int32(1), int64(5), object(7)
memory usage: 2.8+ MB

In [182]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OrdinalEncoder  
from sklearn.compose import ColumnTransformer
from sklearn.compose import make_column_transformer
from sklearn.pipeline import Pipeline

label = ['Salary']
nominal_features=['workclass','maritalstatus','occupation','relationship','race','sex','native']
#nominal_features=['6','6','13','5','4','1','39']
numeric_features = ['age','educationno','capitalgain','capitalloss','hoursperweek']


############# numeric_transformer ####################
numeric_transformer = make_column_transformer(
    (MinMaxScaler(), numeric_features),    
)

############# categorical_transformer ####################

categorical_transformer = make_column_transformer(
    (OneHotEncoder(drop='first'), nominal_features),
)


preprocessor = ColumnTransformer(
    transformers=[
        ("numeric", numeric_transformer, numeric_features),
        ("categorical", categorical_transformer, nominal_features),
    ]
)

In [183]:
# We will later Append classifier to preprocessing pipeline.
pipe = Pipeline(
    steps=[("preprocessor", preprocessor)]
)

In [184]:
# Apply the tranformation to train data
sal_train_transformed = pipe.fit_transform(sal_train)

In [185]:
# Apply the tranformation to test data
sal_test_transformed = pipe.fit_transform(sal_test)

In [186]:
sal_train_transformed.shape

(26903, 79)

In [187]:
sal_test_transformed.shape

(15060, 79)

In [188]:
#Train Data
X_train = sal_train_transformed[: , :] # Predictors 
Y_train = sal_train['Salary'] # Target

In [191]:
#Test Data
X_test = sal_test_transformed[: , :] # Predictors 
Y_test = sal_test['Salary'] # Target

In [192]:
# Preparing a naive bayes model on training data set 
from sklearn.naive_bayes import MultinomialNB as MB

# Multinomial Naive Bayes
classifier_mb = MB()
classifier_mb.fit(X_train,Y_train,sample_weight=None)

MultinomialNB()

In [193]:
# Evaluation on Test Data
test_pred_m = classifier_mb.predict(X_test)
accuracy_test_m = np.mean(test_pred_m == Y_test)
accuracy_test_m

0.799468791500664

In [194]:
#accuracy in test data
from sklearn.metrics import accuracy_score
accuracy_score(test_pred_m, Y_test)

0.799468791500664

In [196]:
pd.crosstab(test_pred_m, Y_test)

Salary     0     1
row_0
0       9398  1058
1       1962  2642

In [198]:
#accuracy in training data
test_pred_m = classifier_mb.predict(X_train)
accuracy_score(test_pred_m, Y_train)

0.794706910010036

In [210]:
# Multinomial Naive Bayes changing default alpha for laplace smoothing
# if alpha = 0 then no smoothing is applied and the default alpha parameter is 1
# the smoothing process mainly solves the emergence of zero probability problem in the dataset.
classifier_mb_lap = MB(alpha = 1.5)
classifier_mb_lap.fit(X_train, Y_train)

# Evaluation on Test Data after applying laplace
test_pred_lap = classifier_mb_lap.predict(X_test)
accuracy_test_lap = np.mean(test_pred_lap == Y_test)
accuracy_test_lap

0.799667994687915

with laplace smoothening with alpha 1.5 we get close to 80% accuracy